<ul class="justify-content-center top-toolbar"><!--top toolbar-->
  <li class="workgroup-name">
    <button class="workgroup-name-button p-button">{{ workgroupName }}</button>
  </li>
  <li class="account-buttons">
    <button
      pButton
      pRipple
      [routerLink]="'account-settings'"
      [queryParams]="{from: getCurrentRoute()}"
      class="p-button-sm account-button top-item light-button"
    >
      Account
      <span class="mr-0_5"></span>
      <i class="pi pi-cog"></i>
    </button>
    <span class="mr-1"></span>
    <button
      pButton
      pRipple
      (click)="logout()"
      class="p-button-sm logout-button top-item light-button"
    >
      Logout
    </button>
  </li>
</ul>
<ul class="side-toolbar"><!--side toolbar-->
  <li [routerLink]="getDashboard()">
    <button pButton pRipple class="light-button mb-1">Dashboard</button>
  </li>
  <li [hidden]="!isDM" [routerLink]="'employees'">
    <button pButton pRipple class="light-button mb-1">Employees</button>
  </li>
  <li [hidden]="!isDM">
    <button pButton pRipple class="light-button mb-1">Shift Types</button>
  </li>
  <li [hidden]="!isDM" [routerLink]="'roles'">
    <button pButton pRipple class="light-button mb-1">Roles</button>
  </li>
  <li>
    <button pButton pRipple class="light-button mb-1">Holidays</button>
  </li>
  <li [hidden]="!isDM">
    <button pButton pRipple class="light-button mb-1">Rules</button>
  </li>
  <li [hidden]="!isEmployee">
    <button pButton pRipple class="light-button mb-1">Shift Swapping</button>
  </li>
</ul>
