<!-- Toolbar -->
<!--<div class="toolbar" role="banner">-->
<!--  <div class="spacer"></div>-->
<!--&lt;!&ndash;  <nav>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/department-manager-home">calender</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/employees">employees</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/employees">shift types</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/employees">roles</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/employees">holidays</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/employees">rules</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/settings">settings</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </nav>&ndash;&gt;-->
<!--  <div class="spacer"></div>-->
<!--  <div>Meditrack</div>-->
<!--  <div class="spacer"></div>-->
<!--  <app-lang></app-lang>-->
<!--  <div class="spacer"></div>-->
<!--</div>-->

<!--<div class="content" role="main">-->

<!--  &lt;!&ndash; Highlight Card &ndash;&gt;-->
<!--  <div class="card highlight-card card-small" i18n="@@test">resources</div>-->

<!--</div>-->
<router-outlet></router-outlet>
