<div class="grid">
  <div class="col-12">
    <div class="card px-6" style="height: calc(100vh - 13rem);">
      <div class="p-d-flex p-flex-column p-h-100">
        <p-toast></p-toast>
        <app-week-view [days]="days" [startDate]="startDate" (weekChange)="changeWeek($event)"
                       (rangeChange)="changeRange($event)" [loading]="loading" [roles]="roles" [users]="users"
                       [missingMonth]="createScheduleMonth"
                       [displayCreateScheduleButton]="displayCreateScheduleButton" (createSchedule)="createSchedule()"
                       [shiftTypes]="shiftTypes"
                       (updateShift)="updateShift($event)"
                       [currentUser]="currentUser"
                       (deleteSchedule)="deleteSchedule()"
                       (publishSchedule)="publishSchedule()"
                       [employees]="usersWithShifts"
                       [planId]="currentPlanId"
                       [currentSchedule]="currentSchedule"
                       [weekNumber]="weekNumber"
                       [monthString]="monthString"
                       class="p-flex-1 p-overflow-auto"></app-week-view>
      </div>
    </div>
  </div>
</div>
