
//colors

$primary: rgb(61 95 144);
$surface-tint: rgb(61 95 144);
$on-primary: rgb(255 255 255);
$primary-container: rgb(213 227 255);
$on-primary-container: rgb(0 28 59);
$secondary: rgb(85 95 113);
$on-secondary: rgb(255 255 255);
$secondary-container: rgb(217 227 248);
$on-secondary-container: rgb(18 28 43);
$tertiary: rgb(110 86 118);
$on-tertiary: rgb(255 255 255);
$tertiary-container: rgb(247 216 255);
$on-tertiary-container: rgb(39 19 47);
$error: rgb(186 26 26);
$on-error: rgb(255 255 255);
$error-container: rgb(255 218 214);
$on-error-container: rgb(65 0 2);
$background: rgb(249 249 255);
$on-background: rgb(25 28 32);
$surface: rgb(249 249 255);
$on-surface: rgb(25 28 32);
$surface-variant: rgb(224 226 236);
$on-surface-variant: rgb(67 71 78);
$outline: rgb(116 119 127);
$outline-variant: rgb(196 198 207);
$shadow: rgb(0 0 0);
$scrim: rgb(0 0 0);
$inverse-surface: rgb(46 48 53);
$inverse-on-surface: rgb(240 240 247);
$inverse-primary: rgb(166 200 255);
$primary-fixed: rgb(213 227 255);
$on-primary-fixed: rgb(0 28 59);
$primary-fixed-dim: rgb(166 200 255);
$on-primary-fixed-variant: rgb(35 71 118);
$secondary-fixed: rgb(217 227 248);
$on-secondary-fixed: rgb(18 28 43);
$secondary-fixed-dim: rgb(189 199 220);
$on-secondary-fixed-variant: rgb(61 71 88);
$tertiary-fixed: rgb(247 216 255);
$on-tertiary-fixed: rgb(39 19 47);
$tertiary-fixed-dim: rgb(218 189 226);
$on-tertiary-fixed-variant: rgb(85 63 93);
$surface-dim: rgb(217 218 224);
$surface-bright: rgb(249 249 255);
$surface-container-lowest: rgb(255 255 255);
$surface-container-low: rgb(243 243 250);
$surface-container: rgb(237 237 244);
$surface-container-high: rgb(231 232 238);
$surface-container-highest: rgb(225 226 233);
