
//todo: change them if unfit

//spacing
$space-standard: 0.93rem;
$space-standard: 1.875rem;
$space-big: 3.75rem;

//button width
$button-width-small: 8rem;
$button-width-standard: 12.5rem;
$button-width-big: 24rem;

//button height
$button-height-small: 1.875rem;
$button-height-standard: 3.375rem;
$button-height-big: 4.5rem;

$toolbar-height: 130px;

//todo add font sizes
