@import './_variables';
@import "./_mixins";
@import "./_preloading";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";

.display-table-cell {
  display: table-cell;
}

.display-table {
  display: table;
}

.display-flex {
  display: flex;
}

.va-middle {
  vertical-align: middle;
}

.mr-0_5 {
  margin-right: 0.5em;
}
.ml-0_5 {
  margin-left: 0.5em;
}

.mt-0_5 {
  margin-top: 0.5em;
}

.mb-0_5 {
  margin-bottom: 0.5em;
}

.mt-0_75r {
  margin-top: 0.75rem;
}

.mb-0_75r {
  margin-bottom: 0.75rem;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.flex-1{
  flex:1;
}


.b-green{
  background-color: #00d000;
  border-color: #00d000;
}

.b-red{
  background-color: red;
  border-color: red;
}

.b-yellow {
  background-color: #ecec18;
  border-color: #ecec18;
}

