<div *ngIf="!loading">
  <div *ngIf="!isUserDm" class="grid">
    <div class="col-12 md:col-6">
      <div class="card px-6 py-6">
        <h2 style="text-align: center;">Holidays</h2>
        <p-table
          [loading]="!holidays"
          [value]="holidays"
          selectionMode="single" [scrollable]="true" scrollHeight='30vh'>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="startDate">Begin
                <p-sortIcon field="startDate"/>
              </th>
              <th pSortableColumn="endDate">End
                <p-sortIcon field="endDate"/>
              </th>
              <th class="w-1">
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown
                      appendTo="body"
                      [ngModel]="value"
                      [options]="statuses"
                      (onChange)="filter($event.value)"
                      placeholder="Status">
                      <ng-template let-option pTemplate="item">
                        <p-tag
                          [value]="option.value"
                          [severity]="getSeverity(option.value)"/>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-holiday>
            <tr [pSelectableRow]="holiday" (click)="selectHoliday(holiday)">
              <td>{{ getFormattedDateFromString(holiday.startDate) }}</td>
              <td>{{ getFormattedDateFromString(holiday.endDate) }}</td>
              <td>
                <p-tag
                  [value]="holiday.status"
                  [severity]="getSeverity(holiday.status)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="plusButtonContainer" style="text-align: center; margin-top: 1rem;">
          <button (click)="showCreateForm()" pButton pRipple type="button" icon="pi pi-plus"
                  class="p-element p-ripple p-button-rounded p-button p-button-icon-only">
            <span class="p-button-icon pi pi-plus" aria-hidden="true"></span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="card p-fluid">
        <h2 style="text-align: center;">{{ getFormTitle() }}</h2>
        <div class="field grid">
          <label htmlfor="startDate" class="col-12 mb-2 md:col-2 md:mb-0">Start date</label>
          <div class="flex center">
            <p-toast></p-toast>
            <p-calendar
              [selectOtherMonths]="true"
              [iconDisplay]="'input'"
              [showOtherMonths]="true"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [showIcon]="true"
              [(ngModel)]="selectedStartDate"
              [dateFormat]="'dd.mm.yy'"
              [readonlyInput]="true"
              placeholder="Select start date"
              (selectionchange)="setStartDate()"
              (onSelect)="setStartDate()">

              <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-plus pointer-events-click" style="cursor: pointer;"
                   (click)="clickCallBack($event)"> </i>
              </ng-template>

              <ng-template pTemplate="date" let-date>
                <div [ngStyle]="{
                       backgroundColor: 'inherit',
                       border: '5px solid 1px solid transparent',
                       width: '30px',
                       height: '30px',
                       display: 'flex',
                       alignItems: 'center',
                       justifyContent: 'center',
                       boxSizing: 'border-box'
                     }">
                  {{ date.day }}
                </div>
              </ng-template>

            </p-calendar>
          </div>
          <div class="flex center">
            <small *ngIf="submitted && this.selectedStartDate === undefined">Start date is required!</small>
          </div>
        </div>
        <div class="field grid">
          <label htmlfor="endDate" class="col-12 mb-2 md:col-2 md:mb-0">End date</label>
          <div class="flex center">
            <p-toast></p-toast>
            <p-calendar
              [selectOtherMonths]="true"
              [iconDisplay]="'input'"
              [showOtherMonths]="true"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [showIcon]="true"
              [(ngModel)]="selectedEndDate"
              [dateFormat]="'dd.mm.yy'"
              [readonlyInput]="true"
              placeholder="Select end date"
              (selectionchange)="setEndDate()"
              (onSelect)="setEndDate()">

              <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-plus pointer-events-click" style="cursor: pointer;"
                   (click)="clickCallBack($event)"> </i>
              </ng-template>

              <ng-template pTemplate="date" let-date>
                <div [ngStyle]="{
                       backgroundColor: 'inherit',
                       border: '5px solid 1px solid transparent',
                       width: '30px',
                       height: '30px',
                       display: 'flex',
                       alignItems: 'center',
                       justifyContent: 'center',
                       boxSizing: 'border-box'
                     }">
                  {{ date.day }}
                </div>
              </ng-template>

            </p-calendar>
          </div>
          <div class="flex center">
            <small *ngIf="submitted && this.selectedEndDate === undefined">End date is required!</small>
          </div>
        </div>

        <p-toast></p-toast>
        <div class="button-container">
          <button *ngIf="formMode === 'create'"
                  (click)="createOrUpdateHoliday()"
                  style="height: 35px; width: 150px;"
                  pbutton="" pripple="" type="button" label="Success"
                  class="p-element p-ripple p-button-success p-button p-component">
            <span class="p-button-label">{{ formAction }}</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>
        </div>

        <div class="buttonset" *ngIf="formMode !== 'create'">
          <button *ngIf="formMode === 'details' && isEditable()" (click)="editHoliday()" pbutton="" pripple=""
                  label="Edit"
                  icon="pi pi-pencil"
                  class="p-element p-ripple p-button-raised p-button-info p-button p-component" style="height: 35px;">
            <span class="p-button-icon p-button-icon-left pi pi-pencil" aria-hidden="true"></span>
            <span class="p-button-label">Edit</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>

          <p-toast></p-toast>
          <button (click)="createOrUpdateHoliday()"
                  *ngIf="formMode === 'edit'"
                  class="p-element p-ripple p-button-success p-button p-component"
                  label="Success" pbutton="" pripple="" style="height: 35px; width: 110px;"
                  type="button">
            <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
            <span class="p-button-label">{{ formAction }}</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>

          <button *ngIf="formMode === 'edit'" (click)="cancelEditing()" pbutton="" pripple="" label="Cancel"
                  icon="pi pi-times" class="p-element p-ripple p-button-raised p-button-secondary p-button p-component"
                  style="height: 35px;">
            <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
            <span class="p-button-label">Cancel</span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isUserDm && !loadingTeamHolidays">
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="card px-6 py-6">
        <h2 style="text-align: center;">Team Holidays</h2>
        <p-table
          #dt
          [loading] = "userIdNameMap.size === 0 || !teamHolidays"
          [scrollable]="true" scrollHeight='63vh'
          [globalFilterFields]="['username']"
          [value]="teamHolidays"
          selectionMode="single">
          <ng-template pTemplate="caption">
            <div class="flex justify-content-end">
             <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText (input)="onGlobalFilter(dt, $event)" type="text" placeholder="Search..."
                           class="w-full sm:w-auto"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="user">Employee
                <p-sortIcon field="user"/>
              </th>
              <th pSortableColumn="startDate">Begin
                <p-sortIcon field="startDate"/>
              </th>
              <th pSortableColumn="endDate">End
                <p-sortIcon field="endDate"/>
              </th>
              <th class="w-1">
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown
                      appendTo="body"
                      [options]="statuses"
                      [ngModel]="value"
                      (onChange)="filter($event.value)"
                      placeholder="Status">
                      <ng-template let-option pTemplate="item">
                        <p-tag
                          [value]="option.value"
                          [severity]="getSeverity(option.value)"/>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-holiday>
            <tr [pSelectableRow]="holiday" (click)="selectTeamHoliday(holiday)">
              <td>{{ holiday.user !== undefined ? holiday.username : '' }}</td>
              <td>{{ getFormattedDateFromString(holiday.startDate) }}</td>
              <td>{{ getFormattedDateFromString(holiday.endDate) }}</td>
              <td>
                <p-tag
                  [value]="holiday.status"
                  [severity]="getSeverity(holiday.status)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="card p-fluid">
        <h2 style="text-align: center;">Approvals</h2>
        <div class="field grid">
          <label htmlfor="user" class="col-12 mb-2 md:col-2 md:mb-0">User</label>
          <div class="col-12 md:col-10" style="padding-left: 20px; width: 350px;">
            <input pInputText id="user" type="text" class="p-inputtext p-component p-element"
                   [(ngModel)]="teamUserName" disabled>
          </div>
        </div>
        <div class="field grid">
          <label htmlfor="startDate" class="col-12 mb-2 md:col-2 md:mb-0">Start date</label>
          <div class="col-12 md:col-10" style="padding-left: 20px; width: 350px;">
            <input pInputText id="startDateTeam" type="date" class="p-inputtext p-component p-element"
                   [(ngModel)]="teamHoliday.startDate" disabled>
          </div>
        </div>
        <div class="field grid">
          <label htmlfor="endDate" class="col-12 mb-2 md:col-2 md:mb-0">End date</label>
          <div class="col-12 md:col-10" style="padding-left: 20px; width: 350px;">
            <input pInputText id="endDateTeam" type="date" class="p-inputtext p-component p-element"
                   [(ngModel)]="teamHoliday.endDate" disabled>
          </div>
        </div>
        <div class="field grid">
          <label htmlfor="status" class="col-12 mb-2 md:col-2 md:mb-0">Status</label>
          <div class="col-12 md:col-10" style="padding-left: 20px; width: 350px;">
            <input pInputText id="status" type="text" class="p-inputtext p-component p-element"
                   [(ngModel)]="teamHoliday.status" disabled>
          </div>
        </div>
        <p-toast></p-toast>
        <div class="button-container">
          <div class="buttonset">
            <button *ngIf="isApprovable()" (click)="updateStatus(HolidayRequestStatus.APPROVED)" pbutton="" pripple=""
                    label="Success" class="p-element p-ripple p-button-success p-button p-component"
                    style="height: 35px; width: 110px;">
              <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
              <span class="p-button-label">Approve</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>
            </button>
            <button *ngIf="isApprovable()" (click)="updateStatus(HolidayRequestStatus.REJECTED)" pbutton="" pripple=""
                    label="Danger" icon="pi pi-trash" class="p-element p-ripple p-button-danger p-button p-component"
                    style="height: 35px; width: 100px;">
              <span class="p-button-icon p-button-icon-left pi pi-trash" aria-hidden="true"></span>
              <span class="p-button-label">Reject</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>

            </button>
            <button *ngIf="isCancelable()" (click)="updateStatus(HolidayRequestStatus.CANCELLED)" pbutton="" pripple=""
                    label="Cancel" icon="pi pi-times"
                    class="p-element p-ripple p-button-raised p-button-secondary p-button p-component"
                    style="height: 35px; width: 100px">
              <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
              <span class="p-button-label">Cancel</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-preferences *ngIf="!isUserDm"></app-preferences>
