<div class="ruleName display-flex center">
  <ng-container *ngIf="!editMode">
    <span class="align-self-center mr-auto flex-1">
      Night time required roles:
    </span>
    <span class="align-self-center  flex-1">
      <div *ngFor="let roleNumber of nightTimeRequiredRoles" class="display-flex width-30em">
        <span>roleName: {{ roleNumber[0]?.name }}</span>
        <span class="ml-auto">required people: {{ roleNumber[1] }}</span>
      </div>
    </span>
    <button pButton pRipple (click)="editMode = true" class="ml-0_5 ml-auto">Edit</button>
  </ng-container>
  <ng-container *ngIf="editMode">
    <span class="align-self-center mr-auto  flex-1">Night time required roles:</span>
    <span class="align-self-center">
      <div *ngFor="let roleNumber of nightTimeRequiredRoles">
        roleName:
        <p-dropdown
          [options]="availableRoles"
          [(ngModel)]="roleNumber[0]"
          optionLabel="name"
          class="mr-0_5"
          placeholder="Select a Role"/>
        number of people:
          <p-inputNumber
            [(ngModel)]="roleNumber[1]"
            inputId="minmax"
            mode="decimal"
            [min]="0" [max]="31" class="mr-0_5 ml-0_5"/>
        <button pButton pRipple (click)="deleteRoleNumber(roleNumber)">Delete</button>
      </div>
    </span>

    <span class="align-self-center ml-auto">
    <button pButton pRipple (click)="addRole()" class="mr-0_5 ml-0_5">Add Role</button>
    <button pButton pRipple (click)="update()" class="mr-0_5 ml-0_5">
      Save
    </button>
    <button pButton pRipple (click)="editMode = false" class="mr-0_5 ml-0_5">
      Cancel
    </button>
    <button pButton pRipple (click)="delete()" class="mr-0_5 ml-0_5">
      Delete
    </button>
    </span>
  </ng-container>
</div>
