<div class="card">
  <div class="card-body">
    <h3>Add New Employee</h3>

    <form [formGroup]="employeeForm" (ngSubmit)="createUser()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter username" required>
            <div
              *ngIf="submitted && employeeForm.controls['username'].errors"
              class="error"
            >
              <small
                class="form-text text-warning"
                *ngIf="employeeForm.controls['username'].errors?.['required']"
              >Username is required.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password" required>
        <div
          *ngIf="submitted && employeeForm.controls['password'].errors"
          class="error"
        >
          <small
            class="form-text text-warning"
            *ngIf="employeeForm.controls['password'].errors?.['required']"
          >Password is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email" required>
        <div
          *ngIf="submitted && employeeForm.controls['email'].errors"
          class="error"
        >
          <small
            class="form-text text-warning"
            *ngIf="employeeForm.controls['email'].errors?.['required']"
          >Email is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Enter first name" required>
        <div
          *ngIf="submitted && employeeForm.controls['firstName'].errors"
          class="error"
        >
          <small
            class="form-text text-warning"
            *ngIf="employeeForm.controls['firstName'].errors?.['required']"
          >First name is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Enter last name" required>
        <div
          *ngIf="submitted && employeeForm.controls['lastName'].errors"
          class="error"
        >
          <small
            class="form-text text-warning"
            *ngIf="employeeForm.controls['lastName'].errors?.['required']"
          >Last name is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="workingHoursPercentage">Working Percentage:</label>
        <input type="number" formControlName="workingHoursPercentage" class="form-control" id="workingHoursPercentage" placeholder="Enter working percentage" required>
        <div
          *ngIf="submitted && employeeForm.controls['workingHoursPercentage'].errors"
          class="error"
        >
          <small
            class="form-text text-warning"
            *ngIf="employeeForm.controls['workingHoursPercentage'].errors?.['required']"
          >Working hours percentage is required.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="roles">Roles:</label>
        <input type="text" formControlName="roles" class="form-control" id="roles" placeholder="Enter roles">
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <input type="text" formControlName="role" class="form-control" id="role" placeholder="Enter role">
      </div>

      <div class="form-group">
        <label for="specialSkills">Special Skills:</label>
        <input type="text" formControlName="specialSkills" class="form-control" id="specialSkills" placeholder="Enter special skills">
      </div>

      <div class="form-group">
        <label for="team">Team:</label>
        <input type="text" formControlName="team" class="form-control" id="team" placeholder="Enter team">
      </div>

      <div class="form-group">
        <label for="shifts">Shifts:</label>
        <input type="text" formControlName="shifts" class="form-control" id="shifts" placeholder="Enter shifts">
      </div>

      <div class="form-group">
        <label for="canWorkShiftTypes">Can Work Shift Types:</label>
        <input type="text" formControlName="canWorkShiftTypes" class="form-control" id="canWorkShiftTypes" placeholder="Enter can work shift types">
      </div>

      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
  </div>
</div>
