<div  class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-6 equal-width constraints-card">
        <div class="card px-6 py-6">
          <h2 style="text-align: center;">Constraints</h2>
          <div class="subsection">
            <h3 style="text-align: center;">Team Constraints</h3>
            <ul class="list-none p-0 m-0">
              <li *ngFor="let rule of teamConstraints"
                  (keydown)="handleKeydown($event, rule, 'team')"
                  (click)="selectRule(rule, 'team')"
                  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                  tabindex="0"
              >
                <span class="text-xl font-medium mr-2 md:mb-0">{{ rule.name }}</span>
              </li>
            </ul>
          </div>
          <div class="subsection">
            <h3 style="text-align: center;">Roles</h3>
            <ul class="list-none p-0 m-0">
              <li *ngFor="let role of roleRules"
                  (keydown)="handleKeydown($event, role, 'role')"
                  (click)="selectRoleRule(role)"
                  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                  tabindex="0"
              >
                <span class="text-xl font-medium mr-2 md:mb-0">{{ getNameOfRole(role) }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 equal-width edit-card" *ngIf="selectedRule || selectedRoleRules">
        <div class="card p-fluid">
          <h2 style="text-align: center;">{{ getFormTitle() }}</h2>
          <div class="field input-container" *ngIf="selectedRule && showRulesEditCard">
            <label htmlFor="ruleValue" class="col-12 mb-2 md:col-2 md:mb-0">{{selectedRule.label}}</label>
            <div class="col-12 md:col-10" style="padding-left: 20px;">
              <input pInputText="" id="ruleValue" type="number" class="p-inputtext p-component p-element"
                     [(ngModel)]="selectedRule!.value"
                     [ngClass]="{'ng-invalid ng-dirty': submitted && selectedRule.value === null}"
                     [disabled]="formMode === 'details'">
              <small *ngIf="submitted && selectedRule.value === null">Value is required.</small>
            </div>
          </div>
          <div *ngIf="selectedRoleRules && !showRulesEditCard">
            <div class="field grid input-container">
              <label htmlFor="daytimeRequiredPeople" class="col-12 mb-2 md:col-2 md:mb-0">Daytime Required People</label>
              <span class="col-12 md:col-10" style="padding-left: 20px;">
                <input pInputText="" id="daytimeRequiredPeople" type="number" class="p-inputtext p-component p-element"
                       [(ngModel)]="selectedRoleRules.daytimeRequiredPeople"
                       [ngClass]="{'ng-invalid ng-dirty': submitted && selectedRoleRules.daytimeRequiredPeople === null}"
                       [disabled]="formMode === 'details'">
                <small *ngIf="submitted && selectedRoleRules.daytimeRequiredPeople === null">Value is required.</small>
              </span>
            </div>
            <div class="field grid input-container">
              <label htmlFor="nighttimeRequiredPeople" class="col-12 mb-2 md:col-2 md:mb-0">Nighttime Required People</label>
              <div class="col-12 md:col-10" style="padding-left: 20px;">
                <input pInputText="" id="nighttimeRequiredPeople" type="number" class="p-inputtext p-component p-element"
                       [(ngModel)]="selectedRoleRules.nighttimeRequiredPeople"
                       [ngClass]="{'ng-invalid ng-dirty': submitted && selectedRoleRules.nighttimeRequiredPeople === null}"
                       [disabled]="formMode === 'details'">
                <small *ngIf="submitted && selectedRoleRules.nighttimeRequiredPeople === null">Value is required.</small>
              </div>
            </div>
            <div class="field grid input-container">
              <label htmlFor="allowedFlexitimeTotal" class="col-12 mb-2 md:col-2 md:mb-0">Allowed Flexitime Total</label>
              <div class="col-12 md:col-10" style="padding-left: 20px;">
                <input pInputText="" id="allowedFlexitimeTotal" type="number" class="p-inputtext p-component p-element"
                       [(ngModel)]="selectedRoleRules.allowedFlexitimeTotal"
                       [ngClass]="{'ng-invalid ng-dirty': submitted && selectedRoleRules.allowedFlexitimeTotal === null}"
                       [disabled]="formMode === 'details'">
                <small *ngIf="submitted && selectedRoleRules.allowedFlexitimeTotal === null">Value is required.</small>
              </div>
            </div>
            <div class="field grid input-container">
              <label htmlFor="allowedFlexitimeMonthly" class="col-12 mb-2 md:col-2 md:mb-0">Allowed Flexitime Monthly</label>
              <div class="col-12 md:col-10" style="padding-left: 20px;">
                <input pInputText="" id="allowedFlexitimeMonthly" type="number" class="p-inputtext p-component p-element"
                       [(ngModel)]="selectedRoleRules.allowedFlexitimeMonthly"
                       [ngClass]="{'ng-invalid ng-dirty': submitted && selectedRoleRules.allowedFlexitimeMonthly === null}"
                       [disabled]="formMode === 'details'">
                <small *ngIf="submitted && selectedRoleRules.allowedFlexitimeMonthly === null">Value is required.</small>
              </div>
            </div>
          </div>
          <p-toast></p-toast>
          <div class="button-container" *ngIf="formMode === 'create'">
            <button
              (click)="createOrUpdateRule()"
              style="height: 35px; width: 150px;"
              pButton=""
              pRipple=""
              type="button"
              label="Success"
              class="p-element p-ripple p-button-success p-button p-component"
            >
              <span class="p-button-label">{{ formAction }}</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>
            </button>
          </div>
          <div class="button-set" *ngIf="formMode !== 'create'">
            <button
              *ngIf="formMode === 'details'"
              (click)="editRule()"
              pButton=""
              pRipple=""
              label="Edit"
              icon="pi pi-pencil"
              class="p-element p-ripple p-button-raised p-button-info p-button p-component"
              style="height: 35px;"
            >
              <span class="p-button-icon p-button-icon-left pi pi-pencil" aria-hidden="true"></span>
              <span class="p-button-label">Edit</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>
            </button>
            <p-toast></p-toast>
            <div class="button-set gap" *ngIf="formMode === 'edit'">
              <button
                *ngIf="formMode === 'edit'"
                (click)="createOrUpdateRule()"
                style="height: 35px;"
                pButton=""
                pRipple=""
                type="button"
                label="Success"
                class="p-element p-ripple p-button-success p-button p-component"
              >
                <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                <span class="p-button-label ">{{ formAction }}</span>
                <span class="p-ink" aria-hidden="true" role="presentation"></span>
              </button>
              <button
                *ngIf="formMode === 'edit'"
                (click)="cancelEditing()"
                pButton=""
                pRipple=""
                label="Cancel"
                icon="pi pi-times"
                class="p-element p-ripple p-button-raised p-button-secondary p-button p-component"
                style="height: 35px;"
              >
                <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                <span class="p-button-label">Cancel</span>
                <span class="p-ink" aria-hidden="true" role="presentation"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
