<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <div *ngIf="data" class="surface-section">
        <div class="font-medium text-3xl text-900 mb-3" i18n="Profile@@account-settings.component.profile-title">Profile</div>
        <ul class="list-none p-0 m-0">
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium"
                 i18n="Username@@account-settings.component.username">
              Username
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              {{ data.username }}
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium" i18n="First Name@@account-settings.component.first-name">
              First Name
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              {{data.firstName}}
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium" i18n="Last Name@@account-settings.component.last-name">
              Last Name
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              {{ data.lastName }}
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium" i18n="Email@@account-settings.component.email">
              Email
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              {{ data.email }}
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium"
                 i18n="Password@@account-settings.component.password">
              Password
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
              *********
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
              <button pButton pRipple (click)="changePassword()" label="Edit"
                      i18n-label="Edit@@account-settings.component.edit" icon="pi pi-pencil"
                      class="p-button-text"> </button>
            </div>
          </li>
          <li *ngIf="data.workingHoursPercentage !== 0"
              class="flex align-items-center py-3 px-2 border-top-1  surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium"
                 i18n="Work Percent@@account-settings.component.work-percent">
              Work %
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              {{ data.workingHoursPercentage }} %
            </div>
          </li>
          <li  class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium" i18n="Role@@account-settings.component.role">
              Role
            </div>
            <div class="text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              <p-chip *ngIf="data.role !== null" label="{{ data.role.name }}" class="mr-2"></p-chip>
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
            <div class="text-500 mt-0_75r mb-0_75r w-6 md:w-2 font-medium" i18n="Work Shifts@@account-settings.component.work-shifts">
              Work Shifts
            </div>
            <div class="flex flex-wrap text-900 mt-0_75r mb-0_75r w-full md:w-8 md:flex-order-0 flex-order-1">
              <ng-container *ngIf="data.canWorkShiftTypes && data.canWorkShiftTypes.length > 0">
                <p-chip *ngFor="let shiftType of data.canWorkShiftTypes"
                        label="{{shiftType.name}}"
                        [ngStyle]="{'color': shiftType.color, 'border-color': shiftType.color, 'margin-right': '0.5rem','border-radius': '15px' }"
                        class="mr-2">
                </p-chip>
              </ng-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


