<div class="ruleName display-flex center">
  <ng-container *ngIf="!editMode">
    <span class="va-middle align-self-center mr-auto"
          i18n="Allowed flex time per month:@@rules.allowed-flex-time-per-month.component.rule-name">
      Allowed flex time per month:
    </span>
    <span class="align-self-center"
          i18n="Hours Count@@rules.allowed-flex-time-per-month.component.hour-count">
      {allowedFlexTimePerMonth, plural, one {{{ allowedFlexTimePerMonth }} hour} other {{{allowedFlexTimePerMonth}} hours}}
    </span>
    <button pButton pRipple (click)="editMode = true" class="ml-0_5 ml-auto"
            i18n="Edit@@rules.edit">
      Edit
    </button>
  </ng-container>
  <ng-container *ngIf="editMode">
    <div class="align-self-center mr-auto"
         i18n="Hours of allowed flex time per month:@@rules.allowed-flex-time-per-month.component.edit-mode-text">
      Hours of allowed flex time per month:
    </div>
    <div class="align-self-center">
      <p-inputNumber
        [(ngModel)]="allowedFlexTimePerMonth"
        inputId="minmax"
        mode="decimal"
        [min]="0" [max]="730" class="mr-0_5 ml-0_5"/>
    </div>
    <div class="align-self-center ml-auto">
      <button pButton pRipple (click)="update()" class="mr-0_5 b-green"
              i18n="Save@@rules.save">
        Save
      </button>
      <button pButton pRipple (click)="editMode = false" class="mr-0_5 b-yellow"
              i18n="Cancel@@rules.cancel">
        Cancel
      </button>
      <button pButton pRipple (click)="delete()" class="b-red"
              i18n="Delete@@rules.delete">
        Delete
      </button>
    </div>
  </ng-container>
</div>
