<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <div *ngIf="currentUser.team !== null && currentUser.team !== '' && currentUser.team != undefined">
        <p-toolbar styleClass="mb-4">
          <h2>{{team.name}}</h2>
          <ng-template pTemplate="left">
            <div class="my-2">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </div>
          </ng-template>
        </p-toolbar>

        <div *ngIf="usersFromTeam.length > 0">

        <p-table #dt [value]="usersFromTeam" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['username']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Users</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="username">Name <p-sortIcon field="username"></p-sortIcon></th>
              <th pSortableColumn="firstName">FirstName<p-sortIcon field="firstName"></p-sortIcon></th>
              <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
              <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
              <th pSortableColumn="role.name">Role <p-sortIcon field="role"></p-sortIcon></th>
              <th pSortableColumn="workingHoursPercentage">Work % <p-sortIcon field="workingHoursPercentage"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Name</span>
                {{user.username}}
              </td>
              <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">First Name</span>
                {{user.firstName}}
              </td>
              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Last Name</span>
                {{user.lastName}}
              </td>
              <td style="width:14%; min-width: 10rem;">
                <span class="p-column-title">Email</span>
                {{user.email}}
              </td>
              <td style="width:14%; min-width: 10rem;">
                <span class="p-column-title">Role</span>
                {{user.role.name}}
              </td>
              <td style="width:14%; min-width: 10rem;">
                <span class="p-column-title">Work %</span>
                {{user.workingHoursPercentage}}
              </td>
              <td>
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="{{userHeader}}" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
            <form [formGroup]="newUserForm" novalidate (ngSubmit)="createUser()">
              <div *ngIf="userHeader==='Create User'" class="field">
                <label for="username">Username</label>
                <input pInputText id="username" type="text" formControlName="username" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['username']}"/>
                <small *ngIf="submitted && newUserForm.controls['username'].errors?.['required']">Username is required.</small>
              </div>

              <div class="field">
                <label for="email">Email:</label>
                <input pInputText id="email" type="email" formControlName="email" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['email']}" />
                <small *ngIf="submitted && newUserForm.controls['email'].errors?.['required']">Email is required.</small>
                <small *ngIf="submitted && newUserForm.controls['email'].errors?.['email']">Invalid email format.</small>
              </div>

              <div class="field">
                <label for="firstName">First Name:</label>
                <input pInputText id="firstName" type="text" formControlName="firstName" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['firstName']}" />
                <small *ngIf="submitted && newUserForm.controls['firstName'].errors?.['required']">First name is required.</small>
              </div>

              <div class="field">
                <label for="lastName">Last Name:</label>
                <input pInputText id="lastName" type="text" formControlName="lastName" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['lastName']}" />
                <small *ngIf="submitted && newUserForm.controls['lastName'].errors?.['required']">Last name is required.</small>
              </div>

              <div class="field">
                <label for="workingHoursPercentage">Working Percentage:</label>
                <input pInputText id="workingHoursPercentage" type="number" formControlName="workingHoursPercentage"  min="0.1" max="1.0" step="0.01" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['workingHoursPercentage']}" />
                <small *ngIf="submitted && newUserForm.controls['workingHoursPercentage'].errors?.['required']">
                  Working hours percentage is required.
                </small>
              </div>

              <div class="field">
                <label for="role">Role:</label>
                <select pInputText id="role" formControlName="role" [compareWith]="compareRoles" [ngClass]="{'ng-invalid ng-dirty': submitted && !newUserForm.value['role']}">
                  <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
                </select>
                <small *ngIf="submitted && newUserForm.controls['role'].errors?.['required']">Role is required.</small>
              </div>
            </form>
          </ng-template>

          <ng-template pTemplate="footer">
            <button  pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button  pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createUser()"></button>
          </ng-template>
        </p-dialog>




        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="newUser">Are you sure you want to delete <b>{{newUser.username}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete selected users?</span>
          </div>
          <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUsersDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
        </p-dialog>
      </div>

    <div *ngIf="currentUser.team === null">
      <h2>Create a Team first before you can add employees!</h2>
        <div class="field">
          <input placeholder="Enter Team Name" type="text" pInputText id="teamName" [(ngModel)]="newTeam.name" required [ngClass]="{'ng-invalid ng-dirty' : !newTeam.name || isTeamNameSet()}"/>
        </div>
      <p-button name="addButton" (click)="createTeam()" [disabled]="!newTeam.name || isTeamNameSet()">Add</p-button>

    </div>
    </div>
  </div>
</div>

