<div class="d-flex justify-content-center">
  <div class="">
    <div class="login-container">
        <h2>Welcome to MediTrack</h2>
        <p>Please login to access the application</p>
      <button (click)="loginStub('employer')">login employer</button>
      <button (click)="loginStub('employee')">login employee</button>
    </div>

    <div class="logout-container">
      <h2>Logout</h2>
      <form (ngSubmit)="logout()">
        <button type="submit" class="btn btn-primary">LogOut</button>
      </form>
    </div>
  </div>
</div>




