<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card px-6 py-6">
      <h2 style="text-align: center;">Roles</h2>
      <ul class="list-none p-0 m-0">
        <li *ngFor="let role of roles" (click)="selectRole(role)" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <span class="text-xl font-medium mr-2 md:mb-0">{{ role.name }}</span>
        </li>
      </ul>
    </div>

    <div class="plusButtonContainer">
      <button (click)="showCreateForm()" pbutton="" pripple="" type="button" icon="pi pi-plus" class="p-element p-ripple p-button-rounded p-button p-button p-component p-button-icon-only">
        <span class="p-button-icon pi pi-plus" aria-hidden="true"></span>
        <span class="p-ink" aria-hidden="true" role="presentation"></span>
      </button>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="card p-fluid">
      <h2 style="text-align: center;">{{ getFormTitle() }}</h2>
      <div class="field grid">
        <label htmlfor="nameshift" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
        <div class="col-12 md:col-10" style="padding-left: 20px; width: 350px;">
          <input pinputtext="" id="nameshift" type="text" class="p-inputtext p-component p-element"
                 [(ngModel)]="role.name"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && role.name === ''}"
                 [disabled]="formMode === 'details'"
          >
          <small *ngIf="submitted && role.name === ''">Name is required.</small>
        </div>
      </div>
      <div class="field grid">
        <label htmlfor="end2shift" class="col-12 mb-2 md:col-2 md:mb-0">Color</label>
        <span class="p-input-icon-right">
          <p-colorPicker class="p-element ng-tns-c3668516956-541 ng-untouched ng-pristine ng-valid ng-star-inserted"
                         [(ngModel)]="role.color"
                         [ngClass]="{'ng-invalid ng-dirty': submitted && role.color === ''}"
                         [disabled]="formMode === 'details'"
                         (onChange)="onColorChange($event)">
            <div class="ng-tns-c3668516956-541 p-colorpicker p-component p-colorpicker-overlay" data-pc-name="colorpicker" data-pc-section="root">
              <input type="text" readonly="readonly" class="p-colorpicker-preview p-inputtext ng-tns-c3668516956-541 ng-star-inserted" data-pc-section="input" style="background-color: rgb(60, 90, 120);">
          <small *ngIf="submitted && role.color === ''">Color is required.</small>
            </div>
          </p-colorPicker>
        </span>
      </div>
      <div class="field grid">
        <label htmlfor="end2shift" class="col-12 mb-2 md:col-2 md:mb-0">Abbreviation</label>
        <div class="col-12 md:col-10" style="padding-left: 20px; max-width: 80px">
          <input pinputtext="" id="abbreviationshift" type="text" class="p-inputtext p-component p-element"
                 [(ngModel)]="role.abbreviation"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && role.abbreviation === ''}"
                 [disabled]="formMode === 'details'">
          <small *ngIf="submitted && role.abbreviation === ''">Abbreviation is required.</small>
        </div>
      </div>
      <div class="button-container">
        <button *ngIf="formMode === 'create'"
                (click)="createOrUpdateRole()"
                style="height: 35px; width: 150px;"
                pbutton="" pripple="" type="button" label="Success" class="p-element p-ripple p-button-success p-button p-component">
          <span class="p-button-label">{{ formAction }}</span>
          <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>
      </div>

      <div class="buttonset" *ngIf="formMode !== 'create'">
        <button *ngIf="formMode === 'details'" (click)="editRole()" pbutton="" pripple="" label="Edit" icon="pi pi-pencil" class="p-element p-ripple p-button-raised p-button-info p-button p-component" style="height: 35px;">
          <span class="p-button-icon p-button-icon-left pi pi-pencil" aria-hidden="true"></span>
          <span class="p-button-label">Edit</span>
          <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>

        <button *ngIf="formMode === 'details'" (click)="deleteRole()" pbutton="" pripple="" label="Danger" icon="pi pi-trash" class="p-element p-ripple p-button-danger p-button p-component" style="height: 35px;">
          <span class="p-button-icon p-button-icon-left pi pi-trash" aria-hidden="true"></span>
          <span class="p-button-label">Delete</span>
          <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>

        <button *ngIf="formMode === 'edit'"
                (click)="createOrUpdateRole()"
                style="height: 35px;"
                pbutton="" pripple="" type="button" label="Success" class="p-element p-ripple p-button-success p-button p-component">
          <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
          <span class="p-button-label">{{ formAction }}</span>
          <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>

        <button *ngIf="formMode === 'edit'" (click)="cancelEditing()" pbutton="" pripple="" label="Cancel" icon="pi pi-times" class="p-element p-ripple p-button-raised p-button-secondary p-button p-component"
                style="height: 35px;">
          <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
          <span class="p-button-label">Cancel</span>
          <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <h2 style="text-align: center; margin-top: 50px">Special Skills</h2>
    <div class="card px-6 py-6">
    </div>
  </div>
</div>
