<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card px-6 py-6">
      <h2 class="pb-2" style="text-align: center;">Preferred Off Days</h2>
      <ul class="list-none p-0 m-0"
          style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 16px;">
        <li *ngFor="let offDay of offDays" class="flex items-center mt-2">
          <p-card [style]="{width: '500px', maxHeight: '60px'}" styleClass="p-card-shadow">
            <div class="flex" style="display: flex; align-items: center; margin-top: -25px">
              <div class="pi pi-calendar mr-2" style="font-size: 1.8rem; width: 50px;"></div>
              <div class="text font-medium" style="font-size: 1.4rem; flex-grow: 1;">
                {{ offDay | date:'dd.MM.YYYY' }}
              </div>
              <div style="display: flex; align-items: center; gap: 10px">
                <p-button (click)="confirmDeleteOffDay($event, offDay)" icon="pi pi-trash" [outlined]="true" severity="danger"></p-button>
              </div>
            </div>
            <p-confirmDialog/>
          </p-card>
        </li>

        <p-dialog [(visible)]="offDayDialog" [style]="{ width: '450px'}" header="Off Day" [modal]="true"
                  class="p-fluid">
          <ng-template pTemplate="content">
            <div *ngIf="selectedDate !== undefined">
              <div class="p-1">
                <p>Would you like to set the following date as your off day?</p>
                <div class="text-lg font-semibold" style="display: block; text-align: center; margin-top: 10px;">
                  {{ selectedDate | date:'dd.MM.YYYY' }}
                </div>
              </div>
              <ng-template pTemplate="header">
                <div class="text-xl font-bold"
                     [ngStyle]="{color: 'white', height:'3em', borderTopLeftRadius: '0.5em', borderTopRightRadius: '0.5em'}">

                </div>
              </ng-template>
              <p-toast></p-toast>
              <div class="flex flex-row justify-content-end mt-3">
                <p-button label="Cancel" icon="pi pi-times" [text]="true" severity="secondary"
                          (click)="toggleDialog()"></p-button>
                <p-button label="Save" icon="pi pi-check" [text]="true"
                          (click)="savePreferences()"></p-button>
              </div>
            </div>

          </ng-template>

        </p-dialog>

        <div class="flex flex-column" *ngIf="this.offDays.length < 3">
          <div class="flex center">
            <p-toast></p-toast>
            <p-calendar
              [selectOtherMonths]="false"
              [iconDisplay]="'input'"
              [showOtherMonths]="false"
              [maxDate]="maxDate"
              [minDate]="minDate"
              [showIcon]="true"
              [(ngModel)]="selectedDate"
              [dateFormat]="'dd.mm.yy'"
              [readonlyInput]="true"
              (selectionchange)="generateOffDay()"
              (onSelect)="generateOffDay()"
              placeholder="Choose Off Day">
              <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-plus pointer-events-click" style="cursor: pointer;" (click)="clickCallBack($event)"> </i>
              </ng-template>
              <ng-template pTemplate="date" let-date>
                <div [ngStyle]="{
                      backgroundColor: 'inherit',
                      border: '1px solid transparent',
                      width: '30px',
                      height: '30px',
                      display: 'flex',
                      alignItems: 'center',
                      justifyContent: 'center',
                      boxSizing: 'border-box',
                      opacity: '1',
                      pointerEvents: 'auto'
                    }">
                  {{ date.day }}
                </div>
              </ng-template>
            </p-calendar>
          </div>
        </div>
        <h6 style="text-align: center; margin-top: 10px; margin-bottom: -20px">You can choose three off days of your preference.</h6>
      </ul>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="card px-6 py-6">
      <h2 style="text-align: center;">Holidays</h2>
        <ul class="list-none p-0 m-0"
            style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 16px;">
        </ul>
    </div>
  </div>
</div>
