/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/spacing';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "assets/layout/styles/layout/layout.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }
}

//example
.menu-button {
  width: $button-width-standard;
  height: $button-width-standard;
  color: $primary-container;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

body {
  margin: 0;
}


.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

.light-button {
  color: black;
  background: $primary-container;
  border-radius: 13px;
  border: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.workgroup-name-button{
  font-size: 1.25rem;
  background-color: $primary;
  border: none;
  padding: 1.25rem 2rem;
  border-radius: 0 15px 0 15px;
}
