<div class="ruleName display-flex space-between">
  <ng-container *ngIf="!editMode">
    <span class="va-middle align-self-center">Minimal rest period:</span>
    <span class="align-self-center"> {{ duration }} mins</span>
    <button pButton pRipple (click)="editMode = true" class="ml-0_5">Edit</button>
  </ng-container>
  <ng-container *ngIf="editMode">
    <div class="align-self-center">
      Minimal amount of rest period in minutes between shifts:
    </div>
    <div>
      <p-inputNumber
        [(ngModel)]="duration"
        inputId="minmax"
        mode="decimal"
        [min]="0" [max]="31" class="mr-0_5 ml-0_5"/>
    </div>
    <div>
      <button pButton pRipple (click)="update()" class="mr-0_5 ml-0_5">
        Save
      </button>
      <button pButton pRipple (click)="editMode = false" class="mr-0_5 ml-0_5">
        Cancel
      </button>
      <button pButton pRipple (click)="delete()" class="mr-0_5 ml-0_5">
        Delete
      </button>
    </div>
  </ng-container>
</div>
