<div class="p-shadow-2 p-p-2">
  <div *ngIf="day?.shifts !== undefined" class="p-text-center p-p-2 p-shadow-1">{{ day?.day }}</div>
  <p-table [value]="day.shifts" class="p-mt-2">
    <ng-template pTemplate="header">
      <tr>
        <th>Shift Time</th>
        <th>Shift Type</th>
        <th>Employee Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
      <tr>
        <td>{{ shift?.shift?.type?.start_time }} - {{ shift?.shift?.type?.end_time }}</td>
        <td>
          <span class="p-tag p-mr-2" [ngStyle]="{'background-color': shift?.shift?.type?.hexcode, 'color': '#fff'}">
            {{ shift?.shift?.type?.name }}
          </span>
        </td>
        <td>{{ shift.employee.firstname }} {{ shift.employee.lastname }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
