li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.p-input-icon-right,
.p-label {
  padding-left: 20px;
  max-width: 200px;
}

.field label {
  width: 120px;
}

.button-set {
  display: flex;
  justify-content: center;
}

.gap {
  gap: 20px;
}

.button-set button {
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.subsection {
  margin-bottom: 20px;
}

.equal-width {
  display: flex;
  flex-direction: column;
}

.constraints-card {
  height: 100%;
}

.edit-card {
  height: auto;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container label {
  flex: 1;
  padding-right: 10px; /* Optional: Add some space between the label and the input */
}

.input-container input {
  flex: 1;
}

.font-selected {
  font-weight: bold;
  color: green;
}
