/* Add a black background color to the top navigation */

@import 'src/styles/spacing';
@import 'src/styles/colors';

.toolbar {
  height: $toolbar-height;
  background: $surface-container-low;
  margin-top: 0;
}

.item {
  padding-top: 4em;
}

.account-button {
  position: fixed;
  left: 90%;
}
