<p-table #dt [value]="employees" [customSort]="true" class="p-mt-2" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
         [globalFilterFields]="['name','role']">
  <ng-template pTemplate="caption">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <h5 *ngIf="range===7" class="m-0">Calendar Week {{ weekNumber }}</h5>
      <h5 *ngIf="weekNumber && range===14" class="m-0">Calendar Week {{ weekNumber }}/{{weekNumber + 1}}</h5>
      <h5 *ngIf="range===30" class="m-0">Calendar Month {{ monthNumber }}</h5>
      <div class="flex align-items-center justify-content-start">
        <p-button
          type="button"
          icon="pi pi-chevron-left"
          (click)="previousWeek()"
          styleClass="p-button-text"/>

        <h5 class="inline m-0 p-2">{{ getFormattedDateRange() }} </h5>

        <p-button
          type="button"
          icon="pi pi-chevron-right"
          (click)="nextWeek()"
          styleClass="p-button-text"/>
      </div>
      <div class="flex justify-content-center align-items-center">

        <p-columnFilter field="role" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [ngModel]="value" [options]="roles" (onChange)="filter($event.value)" placeholder="Role">
            </p-dropdown>
          </ng-template>
        </p-columnFilter>

      </div>

      <div>
        <p-dropdown
          [ngModel]="range"
          [options]="rangeOptions"
          (onChange)="setRange($event.value)"
          placeholder="Select Range">
        </p-dropdown>
      </div>

      <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText (input)="onGlobalFilter(dt, $event)" type="text" placeholder="Search..."
                           class="w-full sm:w-auto"/>
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="font-semibold">Employees</th>
      <!-- TODO: Weekend check should be language independent -->
      <th [ngStyle]="{
      'background-color': day.dayName.includes('Su') || day.dayName.includes('Sa') ? 'lightgray' : '#fff'
    }" class="font-semibold" *ngFor="let day of days">{{ (day.dayName) }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>
        <div pSortableColumn="username">{{ employee.name }}</div>
        <div class="text-sm flex align-items-center justify-content-start"><span class="pi pi-clock mr-1"></span>{{ employee.workingPercentage }}%</div>
        <div class="text-sm">{{ employee.role }}</div>
      </td>
      <!-- TODO: Weekend check should be language independent -->
      <td *ngFor="let day of days; index as i"
          [ngStyle]="{
    'background-color': (day.dayName.includes('Su') || day.dayName.includes('Sa')) && !employee.shifts[day.day]?.shift.type.hexcode ? 'lightgray' : employee.shifts[day.day]?.shift.type.hexcode,
    'color': '#fff'
  }">
        <ng-container *ngIf="employee.shifts[day.day]">
          <div class="text-xl font-medium">{{ employee.shifts[day.day].shift.type.name }}</div>
          <span *ngIf="range<=14" class="text-sm">
            {{ employee.shifts[day.day].shift.type.start_time }} - {{ employee.shifts[day.day].shift.type.end_time }}
          </span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
