<div class="flex justify-content-end">

  <p-button
    class="mb-2 ml-2"
    [outlined]="true"
    *ngIf="checkEditingAuthority()  && editing && !currentSchedule?.published && !displayCreateScheduleButton"
    type="button"
    (click)="confirmPublish($event)"
    severity="success"
    icon="pi pi-check-circle"
    label="{{'Publish'}}"/>


  <p-button
    class="mb-2 ml-2"
    [outlined]="true"
    *ngIf="displayCreateScheduleButton"
    type="button"
    (click)="createNewSchedule()"
    label="{{'Create plan for ' + missingMonth}}"/>

  <p-confirmDialog/>

  <p-button
    class="mb-2 ml-2"
    [outlined]="true"
    *ngIf="checkEditingAuthority() && !displayCreateScheduleButton && editing"
    type="button"
    (click)="confirmDelete($event)"
    icon="pi pi-times"
    severity="danger"
    label="{{'Delete'}}"/>

  <p-button
    class="mb-2 ml-2"
    [outlined]="true"
    *ngIf="checkEditingAuthority() && !editing && !displayCreateScheduleButton"
    type="button"
    (click)="toggleEdit()"
    icon="pi pi-pencil"
    label="{{'Edit'}}"/>

  <p-button
    class="mb-2 ml-2"
    [outlined]="true"
    *ngIf="checkEditingAuthority() && editing && !displayCreateScheduleButton"
    type="button"
    (click)="toggleEdit()"
    icon="pi pi-check"
    label="{{'Done'}}"/>

</div>
<p-table #dt [value]="employees" [customSort]="true" [scrollable]="true" scrollHeight='65vh'
         styleClass="p-datatable-gridlines" responsiveLayout="scroll"
         [style]="editing ? {'border': '1px solid  var(--primary-color)'} : {}"
         [globalFilterFields]="['firstName','lastName', 'role.name']" [loading]="loading">
  <ng-template pTemplate="caption">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <h5 *ngIf="range==='week'" class="m-0">Calendar Week {{ weekNumber }}</h5>
      <h5 *ngIf="weekNumber && range==='2weeks'" class="m-0">Calendar Week {{ weekNumber }}/{{ weekNumber + 1 }}</h5>
      <h5 *ngIf="range==='month'" class="m-0">Calendar Month {{ monthNumber }}
        <i *ngIf="currentSchedule?.published && !loading" class="pi pi-check"
           style="color: green; font-size: 1.2rem"></i>
        <i *ngIf="!currentSchedule?.published && !loading" class="pi pi-file-o"
           style="color: gray; font-size: 1.2rem"></i>
      </h5>
      <div class="flex align-items-center justify-content-start">
        <p-button *ngIf="!editing"
                  type="button"
                  icon="pi pi-chevron-left"
                  (click)="previousWeek()"
                  styleClass="p-button-text"/>

        <h5 class="inline m-0 p-2">{{ days[0].dayName }} -  {{ days[days.length - 1].dayName }}</h5>

        <p-button *ngIf="!editing"
                  type="button"
                  icon="pi pi-chevron-right"
                  (click)="nextWeek()"
                  styleClass="p-button-text"/>
      </div>
      <div class="flex justify-content-center align-items-center">

        <p-columnFilter field="role.name" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [ngModel]="value" optionValue="name" optionLabel="name" [options]="roles"
                        (onChange)="filter($event.value)" placeholder="Role">
            </p-dropdown>
          </ng-template>
        </p-columnFilter>

      </div>

      <div *ngIf="!editing">
        <p-dropdown
          [ngModel]="range"
          [options]="rangeOptions"
          (onChange)="setRange($event.value)"
          placeholder="Select Range">
        </p-dropdown>
      </div>

      <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText (input)="onGlobalFilter(dt, $event)" type="text" placeholder="Search..."
                           class="w-full sm:w-auto"/>
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr class="font-semibold">
      <th pFrozenColumn>Employees</th>
      <th *ngIf="range==='month'">Details</th>
      <!-- TODO: Weekend check should be language independent -->
      <th [ngStyle]="{
      'background-color': (day.dayName.includes('Su') || day.dayName.includes('Sa')) && !loading ? 'lightgray' : '#fff', 'color': ( todaysDate && day.date && (format(todaysDate, 'yyyy-MM-dd') === (format(day.date, 'yyyy-MM-dd')))) ? 'var(--primary-color)' : 'black'}"
          *ngFor="let day of days; trackBy: trackByDay">{{ day.dayName }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-employee>
    <tr>
      <td pFrozenColumn>
        <div class="flex flex-row">
          <div class="flex align-items-center mr-3">
            <div
              [ngStyle]="{'background-color': employee.color}"
              style="width: 40px; height: 40px; border-radius: 50%; background-color: #4caf50; display: flex; align-items: center; justify-content: center; color: white;">
              {{ employee.firstName.charAt(0) }}{{ employee.lastName.charAt(0) }}
            </div>
          </div>
          <div>
            <div pSortableColumn="username">{{ employee.firstName }} {{ employee.lastName }}</div>
            <div class="text-sm flex align-items-center justify-content-start"><span
              class="pi pi-clock mr-1"></span>{{ employee.workingHoursPercentage }}%
            </div>
            <div class="text-sm">{{ employee.role.name }}</div>
          </div>
        </div>
      </td>

      <td *ngIf="range==='month'">
        <div style="white-space: nowrap;" *ngIf="employee && employee.workDetails as detail">
          <div>HSW: {{ detail.hoursShouldWork }}</div>
          <div>HAW: {{ detail.hoursActuallyWorked }}</div>
          <div>OT: {{ detail.overtime }}</div>
        </div>
      </td>
      <td *ngFor="let employeeShift of employee.shifts; index as i; trackBy: trackByShift"
          [ngStyle]="{
  'background-color': employeeShift?.shiftType?.color || ( days[i] && (days[i].dayName.includes('Su') || days[i].dayName.includes('Sa')) && !loading ? 'lightgray' : '#fff'),
  'color': 'white'
}"
          [ngClass]="{'cursor-pointer': editing}"
          (click)="editing && op.toggle($event); editing && employeeShift ? this.setShiftType(employeeShift.shiftType) : this.setShiftType(null)">


        <ng-container *ngIf="employeeShift">
          <div>
            <div class="text-xl font-medium">
              {{ employeeShift.shiftType.abbreviation }}
            </div>
            <span *ngIf="range!=='month'" class="text-sm">
             {{ employeeShift.shiftType.startTime.slice(0, -3) }} - {{ employeeShift.shiftType.endTime.slice(0, -3) }}
            </span>
          </div>
        </ng-container>
        <p-overlayPanel #op>
          <p-dropdown *ngIf="editing"
                      [(ngModel)]="this.currentShiftType"
                      [options]="Object.values(shiftTypes)"
                      optionLabel="name"
                      [showClear]="true"
                      placeholder="Select a Shift Type"
          >
          </p-dropdown>
          <div class="flex justify-content-end flex-wrap" *ngIf="editing">
            <div *ngIf="employeeShift?.shiftType; else newShift">
              <p-button
                class="m-2"
                [outlined]="true"
                type="button"
                (click)="changeShift(employee, i, this.days[i], 'delete'); op.toggle($event)"
                label="Delete shift"
                severity="danger">
              </p-button>
              <p-button
                class="m-2"
                [outlined]="true"
                type="button"
                (click)="changeShift(employee, i, this.days[i], 'update'); op.toggle($event)"
                label="Update shift">
              </p-button>
            </div>
            <ng-template #newShift>
              <p-button
                class="m-2"
                [outlined]="true"
                type="button"
                (click)="changeShift(employee, i, this.days[i], 'create'); op.toggle($event)"
                label="Create shift">
              </p-button>
            </ng-template>
          </div>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
</p-table>
